{% extends 'base.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

    <table class="table table-dark">
        <tbody>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>

            <tr>
            <th>Roles</th>
            <td>
            {# {% for role in user.roles %}
            {% if role == '["ROLE_ADMIN", "ROLE_CLIENT", "ROLE_USER"]' %}
                Administrator
            {# {% else if role == "ROLE_CLIENT" %}
                Client 
                {% else %}
                Tourist
            {% endif %}
            {% endfor %} #}
                {{ user.roles ? user.roles|json_encode : '' }}
                </td>
            </tr>

            <tr>
                <th>UserName</th>
                <td>{{ user.userName }}</td>
            </tr>
            <tr>
                <th>UserLastname</th>
                <td>{{ user.userLastname }}</td>
            </tr>
            <tr>
                <th>Birthdate</th>
                <td>{{ user.birthdate ? user.birthdate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Adress</th>
                <td>{{ user.adress }}</td>
            </tr>
            <tr>
                <th>PhoneNumber</th>
                <td>{{ user.phoneNumber }}</td>
            </tr>
            <tr>
                <th>IsVerified</th>
                <td>{{ user.isVerified ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_client_edit', {'id': user.id}) }}">edit</a>

{% endblock %}
