{% extends 'base.html.twig' %}

{% block title %}AccueilController!
{% endblock %}

{% block body %}

	<div class="container">
        <div class="text-center pt-3">
            <h1 class="text-info">Discs List</h1><br>
        </div>
    	{% set col = 1 %}
		    {% for disc in discs %}
				{% if (col == 1)%}
					<div class="row mb-2 justify-content-around">
					{% endif %}

					<div class="col-2 p-0">
						<img class="img-fluid img-thumbnail" src="img/{{disc.picture}}" alt="{{disc.picture}}" title="{{disc.picture}}" width="200px">
					</div>
					<div class="col-3 d-flex flex-column p-0">
						<div class="small">
							<h5>{{disc.title}}<br></h5>
							<b>{{disc.artist.name}}</b><br>
							<b>Label :
							</b>
							{{disc.label}}<br>
							<b>Year :
							</b>
							{{disc.year}}<br>
							<b>Genre :
							</b>
							{{disc.genre}}<br>
							<b>Price :
							</b>
							{{disc.price}}<br>
						</div>
						<div class="mt-auto mb-2">
							<a href="">
								<button class="btn btn-info btn-sm">Details</button></a>
							</div>
						</div>
						{% if (col == 2) %}
						</div>
						{% set col = 1 %}
					{% else %}
						{% set col = col + 1 %}
					{% endif %}

            {% endfor %}
    </div>
{% endblock %}

