<div class="card bg-dark boreder border-secondary">

    <img src="/img/{{ product.image }}" class="card-img-top">
    <img src="{{ product.image }}" class="card-img-top">

        <div class="card-body">
            <h3 class="card-title">{{ product.name }}</h3>
            <div class="card-title text-primary" style="font-weight: bold; font-size: 1.5rem;">
            {{ product.price | number_format(0, ',', '') }} €
            {% if product.discount %}
                <div class="text text-warning">En promotion!</div>
            {% endif %}
            </div>
            <p class="text text-muted">{{ product.description }}</p>
            <div>
                {% for c in product.categories %}
                    <em class="text-info text-primary text-italic">#{{ c.name }}</em>
                {% endfor %}
            </div>
            <div class="position-relative">
            <a href="{{ path('app_cart_add', {'id': product.id}) }}" class="btn btn-primary float-right {% if product.quantity == 0 %} disabled btn-secondary {% endif %}">
            <i class="fa-solid fa-cart-plus mr-1"></i>
            </a>
            </div>

            <div class"d-flex align-items-end">
                <span class="">
                {% if product.quantity == 0 %}
                    <br><h3 class="text-secondary">Out of stock !</h3>
                {% else %}
                    <br><h5>(<b>{{product.quantity}}</b> left in stock)</h5>
                {% endif %}
                </span>
                </div>
            </div>
</div>