<div class="card bg-dark boreder border-secondary">

    <img src="/img/{{ product.image }}" class="card-img-top img-thumbnail border border-dark" onerror="this.onerror=null; this.src='{{ product.image }}'">
    {# <img src="/img/{{ product.image }}" class="card-img-top thumbnail-image" onerror="this.onerror=null; this.remove();"> #}

        <div class="card-body d-flex flex-column">
            <h3 class="card-title">{{ product.name }}</h3>
            <div class="card-text text-primary" style="font-weight: bold; font-size: 1.5rem; text-align: right;">
            {{ product.price | number_format(0, ',', '') }} €
            {% if product.discount %}
                <div class="text text-warning">En promotion!</div>
            {% endif %}
            </div>
            <p class="text text-muted">{{ product.description }}</p>
            <div>
                {% for c in product.categories %}
                    <em class="text-info text-primary text-italic">#{{ c.name }}</em>
                {% endfor %}
            </div>
            <div class="card-footer mt-auto">
            <a href="{{ path('app_cart_add', {'id': product.id}) }}" title="Ajouter au panier" class="btn btn-primary float-right {% if product.quantity == 0 %} disabled btn-secondary {% endif %}">
            <i class="fa-solid fa-cart-plus mr-1"></i>
            </a>


                <span class="position-relative">
                {% if product.quantity == 0 %}
                    <br><h3 class="d-flex text-secondary align-self-middle">Rupture de stock !</h3>
                {% else %}
                    <br><h3><small>(<b>{{product.quantity}}</b> en stock)</small></h3>
                {% endif %}
                </span>

            </div>
            </div>
</div>