{{ form_start(form, {attr: {class: 'filter'}}) }}

{{ form_row(form.q) }}

<h4>Catégories</h4>
{{ form_row(form.categories) }}

<h4>Prix</h4>
<div class="row">
    <div class="col-md-6">
        {{ form_row(form.min) }}
    </div>
    <div class="col-md-6">
        {{ form_row(form.max) }}
    </div>
</div>
{# {{ knp_pagination_sortable(products, 'Prix', 'p.price') }} #}

{# <div id="priceslider"></div> #}

<h4>Promotions</h4>
{{ form_row(form.discount) }}
{# {{ knp_pagination_sortable(products, 'Promo', 'p.discount') }}    #}

<button class="btn btn-info w-100">Rechercher</button>

{{ form_end(form) }}