{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

<div class="container">
	<h1 class="text-info text-center">Register</h1>
	<h4 class="text-center">A mail will be sent afterwards on your email adress in order for verification</h4>

	{{ form_start(registrationForm) }}
		{{ form_row(registrationForm.email) }}<span id="wrongEmail"></span>
		{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
		{{ form_row(registrationForm.userName) }}<span id="wrongFirstName"></span>
		{{ form_row(registrationForm.userLastname) }}<span id="wrongName"></span>
		{{ form_row(registrationForm.birthdate) }}
		{{ form_row(registrationForm.adress) }}
		{{ form_row(registrationForm.phoneNumber) }}<span id="wrongPhone"></span>
		{{ form_row(registrationForm.agreeTerms) }}

	<button id="submit" class="btn btn-outline-info mb-3">Register</button>
	{{ form_end(registrationForm) }}
	</div>
{% endblock %}
