<h1>{{ app.user.userName }}
	{{ app.user.userLastName }},</h1>
<br><h3>Bienvenue sur Travel-Int!</h3>
<br><h5>Voici le récapitulatif de vos informations personnelles :</h5>
<br><p><b>Prénom : </b>{{ app.user.userName }}</p>
<p><b>Nom : </b>{{ app.user.userLastName }}</p>
<p><b>E-mail : </b>{{ app.user.email }}</p>
<p><b>Date de naissance : </b>{{ user.birthdate ? user.birthdate|date('d-m-Y') : '' }}</p>
<p><b>Adresse : </b>{{ user.adress }}</p>
<p><b>N° téléphone : </b>{{ user.phoneNumber }}</p>

<br><br>Merci de votre confiance et à bientôt sur Travel-Int!<br><br>L'équipe de My Travel-Int</p>
<img style="width: 200px; border-radius: 10px;" src="http://localhost:8000/img/logo.png">