<h1>{{ app.user.userName }}
	{{ app.user.userLastName }},</h1>

<p>Votre commande n°{{order_id}}
	a bien été validée en date du
	{{ orderDate|format_datetime('short', 'none', locale='fr') }}. Voici le récapitulatif :</p>

<table border="1">
	<thead>
		<tr class="text-primary">

			<th>Produit</th>
			<th>Prix</th>
			<th>Quantité</th>
			<th>Sous-total</th>
		</tr>
	</thead>
	<tbody>
		{% set totals = 0 %}
		{% for detail in details %}
			<tr>
				<td>{{detail.Product.Name}}</td>
				<td>{{detail.Product.price}}</td>
				<td>{{detail.Quantity}}</td>
				<td>{{detail.Product.price * detail.Quantity}}
					€</td>
			</tr>
		</td>
	</tbody>
</tr>
{% set totals = totals + detail.Product.price * detail.Quantity %}{% endfor %}</tbody><tfoot><tr>
<td colspan="3" class="text-right"><b>Total :</b>
</td>
<td>{{ totals }}
	€</td></tr></tfoot></table><p>Vous recevrez sous l'email confirmant l'expédition de votre commande.<br>Merci de votre achat et à bientôt!<br><br>L'équipe de My E-Business</p><img src="/img/logo.png">
