<h1>{{ name }},</h1>
<br><h3>My E-Business a bien reçu votre demande.</h3>
<h5>Voici le récapitulatif de votre demande :</h5>
<br><p>n° de dossier : {{ id }}</p>
<br><p><b>Nom : </b>{{ name }}</p>
<p><b>E-mail : </b>{{ refEmail }}</p>
<p><b>Sujet : </b>{{ subject }}</p>
<p><b>Message : </b>{{ message }}</p>


<br><br>L'équipe My E-Business a bien pris en compte votre demande et fait le nécessaire pour revenir vers vous au plus vite.<br><br>L'équipe de My E-Business</p><img src="/img/logo.png">