{% extends 'base.html.twig' %}

{% block title %}Hello CartController!{% endblock %}

{% block body %}
<div class="container">
<h1 class="text-center text-light mt-3 mb-3">Votre Panier :</h1>
{% if items|length > 0 %}
    <table class="table table-dark">
        <thead>
            <tr class="text-primary">
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for item in items %}
            <tr>
                <td>{{item.product.name}}</td>
                <td>{{item.product.price}}</td>
                <td>{{item.quantity}}</td>
                <td>{{item.product.price * item.quantity}}</td>
                <td>
                    <a href="{{ path ('app_cart_remove', {'id': item.product.id}) }}" class="btn btn-danger btn-sm">
                    <i class="fas fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
        <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total : </td>
            <td>{{ total }}</td>
            <td></td>
        </tr>
        </tfoot>
    </table>

{% else %}
    <h3>Empty !</h3>
{% endif %}
</div>
{% endblock %}
